/**/
body {
  min-width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/*Extension audio a texto*/
#popupButton {
  opacity: 0;
}
.ant-btn {
  display: none !important;
}
.kaptionai-conversation-actionbar,
.tooltiptext {
  display: none;
}
.kaption-privacy-btn-off,
.kaption-privacy-btn-on,
.kaption-privacy-btn-mid {
  background-color: black !important;
}
/*Extensión wa web plus*/

#tab1-content,
#tab2-content,
#tab3-content {
  display: none;
}

#subscription-status {
  display: none;
}
.footer-nav ul li a {
  display: none;
}
/**Cambiar idioma*/
.language {
  display: flex !important;
}

.dark-theme {
  /*Inicio de la aplicación*/
  --WDS-app-wash: black !important;
  --WDS-background-wash-inset: black !important;
  --app-background: black !important;
  --progress-background: #272727 !important;
  --progress-primary: white !important;

  /*Activar notificaciones*/
  --butterbar-default-background: #272727 !important;
  --butterbar-notification-icon: white !important;

  /*Mensaje de instalar whatsapp de windows*/
  --text-teal: white !important;

  /*Barra de la izquierda*/
  --navbar-background: black !important;
  --unread-marker-background: white !important;

  /*Lista de chats*/
  --background-default-active: #272727 !important;
  --background-default-hover: black !important;
  --background-lighter: black !important;
  --unread-timestamp: white !important;
  --unread-marker-text: black !important;
  --status-ring-unread: white !important;

  --butterbar-connection-background: black !important;
  --background-default: black !important;
  --background-document-with-captions: black !important;
  --button-primary: black !important;
  --button-primary-destructive-color: black !important;
  --button-primary-destructive-spinner-color: black !important;
  --checkbox-mark: black !important;
  --drawer-background: black !important;
  --drawer-gallery-background: black !important;
  --electron-deprecation-app-expired-header: black !important;
  --location-cluster-background: black !important;
  --modal-backdrop-solid: black !important;
  --panel-background: black !important;
  --popup-panel-background: black !important;
  --product-thumb-background: black !important;
  --poll-modal-background-color: black !important;
  --search-container-background: black !important;
  --search-input-container-background: black !important;
  --search-input-container-background-active: black !important;
  --startup-background: black !important;
  --status-link-preview-title: black !important;
  --voip-background: black !important;
  --reactions-bubble-border: black !important;
  --forward-caption-preview-content: black !important;
  --skeleton-gradient-background-middle: black !important;
  --compose-panel-background: black !important;
  --intro-background: black !important;
  --app-background: black !important;
  --app-background-deeper: black !important;
  --wallpaper-background: black !important;
  --conversation-panel-background: black !important;
  --overlay: black !important;
  --shadow: black !important;
  --status-background: black !important;
  --tooltip-text: black !important;
  --video-player-background: black !important;
  --voip-background-deep: black !important;
  --voip-alternative: black !important;
  --panel-background-deeper: black !important;
  --panel-background-hover: black !important;
  --panel-background-lighter: black !important;
  --drawer-background-deep: black !important;
  --drawer-section-background: black !important;
  --media-viewer-background: black !important;

  /*Barra de filtros*/
  --filters-container-background: black !important;
  --filters-item-active-background: white !important;
  --filters-item-active-color: black !important;
  --filters-item-background: #272727 !important;

  /*Chat*/

  /*Color Barra de editar fuente*/
  --input-floating-toolbar-background: black !important;

  --panel-background-colored: black !important;
  --panel-background-colored-deeper: black !important;
  --panel-header-background: black !important;
  --conversation-panel-background: rgba(39, 39, 39, 0) !important;
  --rich-text-panel-background: black !important;
  --compose-input-background: black !important;
  --compose-input-border: black !important;
  --background-default-rgb: black !important;
  --media-editor-image-caption-input-background: #272727 !important;
  --media-editor-document-caption-input-background: #272727 !important;
  --button-round-background: #272727 !important;

  /*Dia del mensaje*/
  --system-message-background: #272727 !important;

  --overlay-rgb: #272727 !important;

  /*Barra de mensajes no leidos*/
  --unread-bar-background: rgba(39, 39, 39, 0.6) !important;
  --unread-background: rgba(0, 0, 0, 0) !important;

  /*Mensajes enviados*/
  --outgoing-background: black !important;
  --outgoing-background-deeper: #272727 !important;
  --poll-checkmark-sender: black !important;

  /*Mensajes recibidos*/
  --incoming-background: black !important;
  --incoming-background-deeper: #272727 !important;

  /*Ventana de información de contacto*/
  --switch-button-checked-color: white !important;
  --switch-track-checked-color: rgba(255, 255, 255, 0.8) !important;
  --chat-marker-background: #272727 !important;
  --thumb-border-active: #272727 !important;
  --chat-info-drawer-thumb-background: #272727 !important;

  /*Menu desplegable*/
  --dropdown-background: black !important;
  --dropdown-background-hover: #272727 !important;

  /*panel de emojis*/
  --reactions-panel-background-color: black !important;
  --expressions-panel-active-icon-tab-background: #272727 !important;
  --wds-teal-500: white !important;
  --active-tab-marker: #272727 !important;
  --sticker-button-background: #272727 !important;

  /*Barra de emojis*/
  --reactions-tray-background: black !important;
  --reactions-picker-bg: #272727 !important;
  --svg-gray-button: white !important;

  /*Detalles de emojis en canales*/
  --reactions-details-background: black !important;
  --reactions-details-background-hover: #272727 !important;
  --reactions-tray-active-round-background: white !important;

  /*Selección de reenvio*/
  --forward-caption-preview-background: black !important;
  --forward-caption-preview-content: #272727 !important;
  --checkbox-background: white !important;

  /*Cuadro de eliminar*/
  --modal-backdrop: rgba(39, 39, 39, 0.8) !important;
  --modal-background: black !important;
  --button-secondary: rgba(255, 255, 255, 0.6) !important;
  --button-secondary-hover: white !important;

  --button-reject-background: black !important;
  --button-primary-background: white !important;
  --button-primary-background-hover: #272727 !important;
  --electron-deprecation-app-expired-window: black !important;
  --media-gallery-thumb-background: black !important;

  --input-hover-background: black !important;

  --search-input-background: black !important;
  --panel-input-background: black !important;
  --ptt-draft-waveform-background-border: black !important;
  --ptt-draft-waveform-background: black !important;

  --icon-ack: white !important;
  --intro-border: black !important;
  --icon-bright-highlight: white !important;
  --icon-search-back: white !important;

  /*Bordes de historias no vistas y texto de recientes*/
  --teal: white !important;

  /*Boton de a quien enviar estado*/
  --button-plain-background: black !important;
  --button-plain-background-hover: #272727 !important;

  /*Barra de votaciones*/
  --poll-bar-fill-receiver: white !important;

  --primary: white !important;

  --ptt-ooc-background: black !important;

  /*Color de audio recibido y escuchado*/
  --ptt-green: white !important;
  --ptt-blue: rgb(134, 150, 160) !important;

  /*Mensaje flotante*/
  --toast-background: #272727 !important;

  /*Sombra de mensaje cuando abris en otra pestaña*/
  --shadow-rgb: #272727 !important;
}

/*Animacion de entrada de texto*/
.xe7vic5:focus-within {
  --compose-input-background: #272727 !important;
  --compose-input-border: #272727 !important;

  --progress-primary-rgb: white !important;
}

.xjbqb8w {
  visibility: none;
}

/*Despliegue para activar notificaciones*/
.xglhzf2 {
  background-color: rgba(39, 39, 39, 0.9) !important;
}
._al_2 {
  background-color: white !important;
  color: black !important;
}
._al_5 {
  --button-primary-background-hover: #272727 !important;
}
._al_5 button:hover {
  color: white !important;
}

/*Fix borde header*/
.xd32934 {
  border-top-left-radius: 0px !important;
}

/*Fix barra de carga cuadro de emojis*/
.x1avzhq7 .xgkeump,
.x1kapp2c .xgkeump {
  opacity: 0 !important;
}

/*Fix boton de iniciar comunidad y canales*/
.xbtce8p:hover {
  color: white !important;
}

/*Fix pie de mensaje compartido*/
.x1szdls9 {
  --button-round-background: white !important;
}

/*Cuadro de vinculación con dispositivo*/
.xe4h88v {
  background-color: black !important;
  --WDS-green-400: white !important;
}
.x12peec7 {
  --WDS-green-400: #272727 !important;
}

/*Fix cuadro de elegir tipo de fuente*/
.xoueugu {
  background-color: #272727 !important;
}
.x1hc1fzr {
  background-color: black !important;
  color: white !important;
}

/*Fondo de sleccion de texto y archivos*/
.selectable-text::selection {
  background-color: #272727 !important;
}
.selectable-text span::selection {
  background-color: #272727 !important;
}
._ao3e::selection {
  background-color: #272727 !important;
  color: white !important;
}
.x1ypdohk::selection,
.x16dsc37::selection,
.x10e4vud::selection,
.x5yr21d::selection {
  background-color: rgba(39, 39, 39, 0.8) !important;
  color: white !important;
}
._ak8w::selection,
.textButton::selection,
.x1uirj4r span::selection,
.xk50ysn::selection {
  background-color: rgba(39, 39, 39, 0.8) !important;
  color: white !important;
}
._ajxd::selection,
._ahx_::selection,
.x10xj72d::selection,
.xwcf1sq::selection,
.x1f6z2i5::selection {
  background-color: rgba(39, 39, 39, 0.8) !important;
  color: white !important;
}

/*Fix fondo de foto de perfil*/
.xfbpl4g {
  background-color: rgba(39, 39, 39, 0.8) !important;
}
.x1sliqq ._ak72 {
  --background-default: (39, 39, 39, 0) !important;
}

/*Fix logo de mensajes temporales*/
.x12fk4p8 g {
  fill: white !important;
}
